/* Basic */

	body {
		background: #f5f5f5;
	}

	body, input, select, textarea, #help {
		color: #333;
		font-family: "Source Sans Pro", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.65em;
		letter-spacing: -0.015em;
		text-shadow: 0 1px 0 #f3f3f3;
	}
	
	.button_right {
		float: right;
		padding: 0 0 1em 1.5em;
		top: 0.25em;
	}

	.itemin {
		white-space:nowrap;
	}
	
	.right25 {
		float: right !important;
		width: 20% !important;
	}

	.right50 {
		float: right !important;
		width: 50% !important;
	}

	.left75 {
		float: left !important;
		width: 75% !important;
	}

.ui-controlgroup-controls {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    float: right !important;
    width: 28% !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 !important; /* <-- Apparently some margin are still there even though it's hidden */
}

.header-field {
  color: white;
  background-color: black;
  font-size: 16px;
  margin-top: 12px;
}
img.setwidth {
	max-width: 300px;
	width: 100%;
}
img.setheight {
	max-height: 60px;
	height: 100%;
}
img.displaycenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.splashtext {
	text-align: center;
}
